/* Media Query ID Helper *********************
body::before {
  content: "< 480px"; }

 @media  only screen and (min-width: 480px) {
  body::before {
    content: "480px < 600px"; } }
 @media  only screen and (min-width: 600px) {
  body::before {
    content: "600px < 768px"; } }
 @media  only screen and (min-width: 768px) {
  body::before {
    content: "768px < 992px"; } }
 @media  only screen and (min-width: 992px) {
  body::before {
    content: "992px < 1382px"; } }
 @media  only screen and (min-width: 1382px) {
  body::before {
    content: "1382px <"; } }

/*
tan - #e4dece


/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- System Fixes ---------------- */

.front .title {
	display: none;
}
.policies-current-tbrweb05-tbr-edu .title {
	display: block;
}
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
/* ----- Body ------------------------ */
body {
	background: #e4dece url("../images/bg_map.jpg") repeat-x center top;
	height: 100%;
	
}
body, input, button, select, textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #344051;
}
.clear-block::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.print-date {
	display: none;
}
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
h1 {
	font-weight: 600;
	font-size: 34px;
}
#content, #content-wrapper li {
	line-height: 30px;
}
h3, .label-above {
	color: #d13138;
	border-bottom: 1px solid #eaeaea;
	font-weight: 400;
}
i {
	padding-right: 6px;
}
/* ----- Links ----------------------- */
a {
	color: #344051;
	text-decoration: underline;
}
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
table {
	width: 100%;
}
/* ----- Forms ----------------------- */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #bf363b;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #bf363b;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #bf363b;
}
/* HEADER ********************************* */
/* ----- Emergency Header --------------- */
#emergency-header {
	margin-top: 10px;
}
/* ----- Global Search ----------------*/
#global-search-form input, #global-search-form label, #global-search-form button {	
	float: left;
}
#global-search-form label {
	padding-left: 10px;
	font-weight: 200;
}
#global-search {
	background: #787f8a;
	width: 100%;
	padding: 0;
	height: 50px;
	margin-top: 0;
	clear: both;
	color: #eaeaea;
}
.global-search-left {
	display: block;
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}
.global-search-right {
	display: block;
	margin: 0;
	padding: 14px 0 0 0;
	float: right;
	height: 50px;
}
#global-search-form input[type="text"] {
	width: 100%;
	background: none !important;
	border: none !important;
	color: #fff;
	font-size: 18px;
	height: 50px;
	padding: 0;
	margin: 0;
}
#global-search-form input[type="text"]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#global-search-form input[type="radio"] {
	margin-right: 6px;
}
#global-search-form button {
	margin-left: 20px;
	color: #eaeaea;
	background: #344051;
	border: 0;
	font-weight: 200;
}
/* ----- Global Header --------------- */
#global-header {
	clear: both;
	background: #344051;
	width: 100%;
	padding: 0;
}
#global-header .container {
	padding-top: 8px;
}
#global-header .navbar-inner {
	background: none;
	border: none;
}
#global-header .navbar {
	margin-bottom: 0;
}
#global-header #global-nav {
	margin-left: 0;	
}
#global-header .navbar .nav > li > a {
	padding: 6px 8px 6px;
	color: #eaeaea;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-size: 15px;
}
/* ----- Header Region --------------- */
#header {
	padding-top: 10px;
	margin-bottom: -14px;
}
#header #main-menu {
	padding-top: 30px;
}
#header #main-menu .navbar .nav {
	float: right;
	margin-right: -10px;
}
#header .navbar .nav>.active>a, #header .navbar .nav>.active>a:hover, #header .navbar .nav>.active>a:focus {
	color: #555;
	text-decoration: none;
	background-color: #787f8a;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #eaeaea;
}
#header ul.menu li.first {
	padding-left: 0;
	margin-left: 0;
}
#header .navbar .nav>li>a {
	text-shadow: none;
	padding: 10px 4px 10px;
}
#header .navbar-inner {
	background: none;
	box-shadow: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
}
#header ul.menu {
	border-top: 2px solid #d13138;
}

/* ----- Unit Header --------------- */
#header-unit {
	margin-bottom: 16px;
	
}
#header-unit .container {
	box-shadow: 0px 0px 20px #888888;
}
#header-unit .container #header-unit-inner {
	margin-left: auto;
	margin-right: auto;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	background: #fff url("../images/headers/header_1.jpg");
	height: 200px;
	border: 20px solid #fff;
}
.header-unit-content {
	margin-top: 40px;
	float: right;
	padding: 16px 16px;
	background-color: rgba(0, 0, 0, 0.6);
}
.header-unit-content .office {
	color: #eaeaea;
	display: block;
	text-align: right;
	clear: right;
	font-size: 15px;
	padding-bottom: 6px;
}
.header-unit-content .department {
	color: #eaeaea;
	display: block;
	text-align: right;
	font-size: 30px;
	font-weight: 400;
}

/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
#header #logo img {
	width: 76%;
	height: auto;
}
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
.sidebar .nav {
	margin-left: 0;
}
.sidebar .nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #787f8a;
	color: #eaeaea;
}
#sidebar-first ul.menu.nav li {
	list-style: none;
}
#sidebar-first ul.menu.nav > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	text-decoration: none;
}
#sidebar-first ul.menu.nav > .active > a, #sidebar-first ul.menu.nav > .active > a:hover, #sidebar-first ul.menu.nav > .active > a:focus {
	color: #eaeaea;
	background-color: #787f8a;
}

#sidebar-first ul.menu.nav > li > ul > li > a {
	display: block;
	margin: 0px 0px 0px 27px;
	padding: 8px 14px;
	border: none;
	border-left: 4px solid #e5e5e5;
}
#sidebar-first ul.menu.nav > li > ul > li > a:before {
	content: ""
}
#sidebar-first ul.menu.nav li.expanded, #sidebar-first ul.menu.nav li.collapsed, #sidebar-first ul.menu.nav li.leaf {
	padding: 0;
	margin: 0;
}
#sidebar-first ul.menu.nav > li:first > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

/* 2nd level */
.nav-list .nav-list > li > a {
  padding-left: 30px;
}

.nav-list .nav-list > li > a,
.nav-list .nav-list .nav-header {
  margin-left:  -30px;
  margin-right: -30px;
}

/* 3rd level */
.nav-list .nav-list .nav-list > li > a {
  padding-left: 45px;
}

.nav-list .nav-list .nav-list > li > a,
.nav-list .nav-list .nav-list .nav-header {
  margin-left:  -45px;
  margin-right: -45px;
}

/* Etc. */

/* ----- Breadcrumbs ----------------- */
.front #breadcrumb {
	display: none;
}
.front #main-content {
	margin-top: 20px;
}
#breadcrumb {
	margin-top: 10px;
	display: block;
}
.breadcrumb {
	background: none;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb-1 a {
	color: #d13138;
}
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */
/* ----- First Sidebar Blocks ---------*/
#sidebar-first div.block {
	border-top: 6px solid #344051;
	background: #eaeaea;
}



/* FOOTER ********************************* */
#footer-logo {
	text-align: center;
	margin-top: -50px;
}
#global-footer #institution-logos {
	width: 100%;
	background: #787f8a;
}
#global-footer #institution-logos .span12 {
	width: 100%;
	margin-left: 14px;
}
#global-footer #institution-logos #institution-logos-inner {
	margin-top: 10px;
	display: block;
	width: 100%;
	text-align: center;
}
#global-footer #institution-logos #institution-logos-inner img {
	width: 90%;
	height: auto;
}
#global-footer #institution-logos  .container  {
	font-size: 1em;
	line-height: 1em;
	padding: 30px 2% 30px 2%;
}

/* ----- Fat Footer ------------------ */
/* ----- Global Footer --------------- */
#global-footer {
	background: #344051;
	padding: 0;
	width: 100%;
	bottom: 0;
	color: #fffdef;
	margin-top: -30px;
}
#global-footer #other-footer .container  {
	font-size: 1em;
	line-height: 1em;
	padding: 30px 2% 60px 2%;
}
#bottom-menu{
	margin:0 0 0.4em 0;
}
#bottom-menu a{
	color:#fffdef;
}
#bottom-menu ul{
	margin:0;
	padding:0;
	line-height:1em;
}
#bottom-menu ul li{
	float:left;
	list-style:none;
	margin:0 1em 0 0;
	padding:0 1em 0 0;
}
#copyright-eeo, #vcard {
	font-size: 0.8em;
}

/* CONTENT ******************************** */
#page-content {
	background: #fff;
	width: 1180px;
}
#main .container {
	background: #fff;
	box-shadow: 0px 0px 20px #888888;
	padding-bottom: 60px;
}
#main #sidebar-first {
	margin-top: 10px;
}
#main #sidebar-first .block {
	margin-left: 26px;
}
#main #content-wrapper {
	margin:10px 10px;
}
#main #content-wrapper .field {
	margin-bottom: 20px;
}
#main #content-wrapper li {
	margin: 0 0 1em;
}
#main #content-wrapper .horizontal-tabs-list li {
	line-height: 20px;
	margin: 0;
	padding: 0;
}
/* ----- node-policy-guideline --------- */
/*.ds-1col.node.node-policy-guideline .label-above {
 	display: block;
 	border: 1px solid #d6d6d6;
 	padding: 6px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	height: auto;
	line-height: 31.84375px;
	color: #000 !important;
	margin-bottom: 10px;
}*/
.group-topics>
.ds-1col.node.node-policy-guideline ol {
	list-style: upper-roman;
}
.ds-1col.node.node-policy-guideline ol ol {
	list-style: upper-alpha;
}
.ds-1col.node.node-policy-guideline ol ol ol {
	list-style: decimal;
}
.ds-1col.node.node-policy-guideline ol ol ol ol {
	list-style: lower-alpha;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol {
	list-style-type: none;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol li:before {
	content: "(" counter(section, decimal) ") ";
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol li {
	counter-increment: section;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol {
	list-style-type: none;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol li:before {
	content: "(" counter(section2, lower-alpha) ") ";
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol li {
	counter-increment: section2;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol ol {
	list-style-type: none;
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol ol li:before {
	content: "(" counter(section3, lower-roman) ") ";
}
.ds-1col.node.node-policy-guideline ol ol ol ol ol ol ol li {
	counter-increment: section3;
}
.group-topics div.vertical-tabs .vertical-tabs-list {
  width: 100%;
  margin: 0;
  clear: both;
  border-bottom: none;
  margin-bottom: -1px;
}

.group-topics  div.vertical-tabs {
  background: #FFFFFF;
  border: none;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -o-border-radius: none;
  margin: 10px 0;
  position: relative;
}

.group-topics div.vertical-tabs .vertical-tabs-panes {
  margin: 0;
  padding: 10px 15px;
  clear: both;
  border: 1px solid #ccc;
}

.group-topics div.vertical-tabs ul li.vertical-tab-button {
  float: left;
  margin: 0 3px 0 0;
  border: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background: #ddd;
}
.group-topics div.vertical-tabs ul li.vertical-tab-button:focus {

	outline: none;
}
.group-topics div.vertical-tabs ul li.vertical-tab-button a {
  border-top: medium none;
  font-size: 0.917em;
  line-height: 120%;
  padding: 5px 9px 3px;
  text-decoration: none;
  font-weight: normal !important;
}

.group-topics div.vertical-tabs ul li.vertical-tab-button a:hover {
  background: none;
  outline: none;
}

.group-topics ul.vertical-tabs-list li a:hover strong {
	text-decoration: none;
	font-weight: normal;
	border: none;
}
.group-topics ul.vertical-tabs-list li a strong {
	text-decoration: none;
	font-weight: normal;
}
.group-topics div.vertical-tabs ul li.selected {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.group-topics .vertical-tabs ul.vertical-tabs-list {
	border-top: none;
}
.group-topics .vertical-tabs ul.vertical-tabs-list .summary {
	display: none;
}

.group-topics div.vertical-tabs ul li.selected a,
.group-topics div.vertical-tabs ul li.selected a:hover,
.group-topics div.vertical-tabs ul li.selected a:focus,
.group-topics div.vertical-tabs ul li.selected a:active {
  background: none;
  border: none;
  text-decoration: none;
}

@media print {
	.group-topics, #breadcrumb {
		display: none;
	}
}
/*
.ds-1col.node.node-policy-guideline .list-columns ul {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

.ds-1col.node.node-policy-guideline .list-columns li {
	border: 1px solid #000;
	margin-top: -1px;
	padding: 6px;
}
*/
.list-columns {
	-moz-column-width: 20em;
    -webkit-column-width: 20em;
    column-width: 20em;
    margin-bottom: 10px;
}
.list-columns ul li:first-child
{
    margin-top:0px;
}
.list-columns a {
	text-decoration: none;
}
/* VIEWS ********************************** */
/* ----- Tables ---------------------- */
table.views-table {
	width: 100%;
}
.views-field-field-policy-area, .views-field-field-policy-name, .views-field-field-policy-number {
	white-space: nowrap;
}
.view-taxonomy-term-for-policies .views-field-php, .view-policy-and-guideline-purposes .views-field-php {
	width: 220px;
}
.view-taxonomy-term-for-policies .views-field-php .division_term_icon {
	float: left;
	margin-left: 4px;
}
.view-taxonomy-term-for-policies .views-field-php .btn, .view-policy-and-guideline-purposes .views-field-php .btn {
	padding: 4px 4px;
}

.view-taxonomy-term-for-policies .view-footer .term_icon {
	float: left;
	font-size: 14px;
	padding-right: 16px;
}


/* ------ TBR Staff Directory --------- */
.view-tbr-staff-directory table {
	width: 100%;
}
.view-tbr-staff-directory td.views-field-attribute-8 {
	white-space: nowrap;
	list-style: none
}
.view-tbr-staff-directory img.staff-dir-img, .view-tbr-staff-directory .views-field-attribute-10 {
	width: 112px;
	height: auto;
}
.view-tbr-staff-directory .staff-images {
	width: 115px;
	float: left;
}
.view-tbr-staff-directory .tooltip-inner {
    white-space:pre-line;
    max-width: none;
}

/* ------ TBR Board Members --------- */
img.board-members-nophoto {
	width: 150px;
	height: auto;
}
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */

/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */
div.address {
	padding-left: 20px;
}

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */
img.right,
.img-right {
	float: right;
	padding: 10px;
}

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

#toTop  {
	position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
}


/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
 @media  (min-width: 1382px) {

 	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container,div#header-unit .container {
	 	width: 1260px;
	 }
	 
	 .span3 {
		 width: 380px;
	}
	.span9 {
		width: 850px;
	}

}
 @media  (min-width: 979px) and (max-width: 1381px) {
	body {
		font-size: 14px;
	}
	#header .span9 {
		width: 760px;
	}
	#sidebar-first ul.menu.nav > li > a, #sidebar-first ul.menu.nav > li > ul > li > a {
		padding: 4px 4px;
	}
 }
 
 @media  (min-width: 768px) and (max-width: 1200px) {
	 #header .span4 {
			width: 250px;
		}
	#header .span9 {
		width: 660px;
		font-size: 12px;
	}
		#header #logo img {
			width: 100%;
			height: auto;
	}
 }

/* Portrait tablet to landscape and desktop */
 @media  (min-width: 768px) and (max-width: 979px) {
	 
	}
}

/* Landscape phone to portrait tablet */
 @media  (max-width: 767px) {
 	/* VIEWS ********************************** */
 	/* ----- Tables ---------------------- */
 	.view-forms .views-field-created {
	 	display: none;
 	}
 }
/* Landscape phones and down */
 @media  (max-width: 480px) {
 	#global-header .global-nav-navi {
 		display: none;
 	}
 	#global-header #top-logo {
 		display: none;
 	}
 	#header #main-menu .navbar .nav {
 		width: 100%;
 		background: #eaeaea;
 	}
 	#header #logo img {
 		width: 100%;
 	}
 	#header-unit .container #header-unit-inner {
		margin-top: 0;
		width: 100%;
		margin-left: 0;
		height: 160px;
		border: 10px solid #fff;
	}
	.header-unit-content .office {
		padding-bottom: 2px;
	}
	.header-unit-content .department {
		font-size: 18px;
		font-weight: 600;
	}
}
/* ----- Print ----------------------- */
@media print
  {
  	#sidebar-first, div.tabs, div#global-footer, div#global-header, div#header, div#main-menu, div#block-workbench-block,div#header-unit .container {
  		display: none;
  	}
  	.print-date {
	  	display: block;
  	}
  	.breadcrumb {
	  	display: none;
  	}
  	#block-menu-devel {
	  	display: none;
  	}
  	#toTop {
	  	display: none;
  	}
  }
